<header
  class="flex shadow-md py-4 px-4 sm:px-10 bg-white dark:bg-gray-900 font-[sans-serif] min-h-[70px] tracking-wide relative z-50"
>
  <div class="flex flex-wrap items-center justify-between gap-5 w-full">
    <!--logo-->
    <a
      [routerLink]="['']"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://images.unsplash.com/photo-1690138871287-02b2fc3b87c2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="logo"
        class="w-12 h-8"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >All ONLINE</span
      >
    </a>

    <!--menu-->
    <div
      [ngClass]="{ hidden: isMenuOpen }"
      id="collapseMenu"
      class="max-lg:hiddens lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50"
    >
      <button
        (click)="toggleMenu()"
        id="toggleClose"
        class="lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white w-9 h-9 flex items-center justify-center border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-3.5 h-3.5 fill-black"
          viewBox="0 0 320.591 320.591"
        >
          <path
            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
            data-original="#000000"
          ></path>
          <path
            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
            data-original="#000000"
          ></path>
        </svg>
      </button>

      <ul
        class="lg:flex gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50 lg:justify-center lg:items-center"
      >
        <li class="mb-6 hidden max-lg:block">
          <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
              src="https://images.unsplash.com/photo-1690138871287-02b2fc3b87c2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="logo"
              class="w-28 h-12"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-slate-800"
              >All ONLINE</span
            >
          </a>
        </li>
        <li class="max-lg:border-b border-gray-300 max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]"
            >Products</a
          >
        </li>

        <li class="max-lg:border-b border-gray-300 max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]"
            >About</a
          >
        </li>
        <li class="max-lg:border-b border-gray-300 max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]"
            >Contact</a
          >
        </li>

        <li class="max-lg:border-b border-gray-300 max-lg:py-3  px-3  text-gray-500 flex font-semibold ">
          <span class="mr-1 flex items-center">Mode</span> <app-switcher-button />
        </li>
      </ul>
    </div>

    <!--Bottones-->
    <div class="flex max-lg:ml-auto space-x-3">
      <button
        class="px-4 py-2 text-sm rounded-full font-bold text-white border-2 border-[#007bff] bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]"
      >
        Login
      </button>
      <button
        class="px-4 py-2 text-sm rounded-full font-bold text-white border-2 border-[#007bff] bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]"
      >
        Sign up
      </button>

      <!--menu hamburguesa-->
      <button id="toggleOpen" (click)="toggleMenu()" class="lg:hidden">
        <svg
          class="w-7 h-7"
          fill="#000"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>

        
      </button>
    </div>
  </div>
</header>

<!--


<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      [routerLink]="['']"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://images.unsplash.com/photo-1690138871287-02b2fc3b87c2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-8 w-12 rounded-lg"
        alt="Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >All ONLINE</span
      >
    </a>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
        (click)="toggleDropdown($event)"
      >
        <span class="sr-only">Open user menu</span>
        <img
          class="w-8 h-8 rounded-full"
          src="https://github.com/arielZarate.png"
          alt="user photo"
        />
      </button>
 
      <div
        [class.hidden]="isDropdownOpen"
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"
            >Bonnie Green</span
          >
          <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
            >nameflowbite.com</span
          >
        </div>
        <ul class="py-2"
         aria-labelledby="user-menu-button">
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Earnings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
      <button
        data-collapse-toggle="navbar-user"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            [routerLink]="['/']"
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page"
            >Products</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/about']"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >About</a
          >
        </li>

        <li>
          <a
            [routerLink]="['/galery']"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Galery</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/contact']"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contact</a
          >
        </li>

        <li>
          <app-switcher-button />
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
